*{
  padding: 0;
  margin: 0;
  font-family: 'Gilroy-Regular';
}
html{overflow-x: hidden;}
body{
  height: 1917px;
  background-color: #0B1D26;
}
#body{
  height: 1917px;
}
#header1{
  max-width: 1300px;
  padding-top: 64px;
  margin: 0 auto;
  animation: ct-anim 2s 1;
}
.clearfix{
  clear: both;
}
#body #header1 ul{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
#menu-ul p{
  float: left;
  padding: 0 10px;
}
#bg-img img{
  width: 100%;
  position: absolute;
  z-index: -1;
}
#menu-ul p{
  color: white;
  font-weight: 700;
  font-size: 18px;
}
#header1 ul li:last-child{
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header{
  margin-bottom: 100vh;
  margin-top: 198px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  animation: ct-anim 2s 1;
}
header #center-title{
  width: 53%;
  display: flex;
  justify-content: center;
}
header #center-title #ahikingguide span{
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 6px;
  color: #FBD784;
}
header #center-title #line{
  margin-right: 10px;
  margin-top: 8px;
  border: 1px solid #FBD784;
  float: left;
  animation: ahikingguide-line-anim 2s forwards;
}
header #center-title #beprepared span{
  font-family: 'Chronicle Display', sans-serif;
  font-size: 88px;
  font-weight: 600;
  color: white;
}
header #center-title #beprepared{margin-bottom: 32px;}
header #center-title #ahikingguide{
  position: relative;
  margin-bottom: 32px;
  animation: ahikingguide-anim 2s 1;
}
header #center-title #scrolldown{
  position: relative;
  left: 90em;
  display: flex;
  align-items: center;
  flex-direction: row;
  animation: 1s ease-out scrolldown-anim 0.5s forwards;
}
header #center-title #scrolldown img{
  margin-left: 15px;
}
header #center-title #scrolldown span{
  color: white;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 8px;
}
header #follow-us{margin-left: 80px;}
header #follow-us span{
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
}
header #follow-us ul{
  display: inline;
  list-style: none;
}
header #follow-us ul li:not(:last-child){
  margin-bottom: 10px;
}
header #header-menu{
  margin-right: 80px;
}
header #header-menu ul{
  list-style: none;
  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 52px;
  text-align: right;
  display: inline;
}
header #header-menu ul li:nth-child(1){
  padding-right: 35px;
  border-right: 3px solid white;
}
header #header-menu ul li:not(:nth-child(1)){
  padding-right: 35px;
  border-right: 3px solid rgba(255, 255, 255, 0.5);
}
#body-of-body{
  margin: 0 auto;
  width: 76%;
}
@font-face {
	font-family: 'Gilroy-Regular';
	src: url("gilroy-regular.ttf");
}
#zerotwo{
  position: relative;
  left: 900px;
}
.trans-num{
  position: absolute;
  font-weight: 700;
  font-size: 240px;
  color: rgba(255, 255, 255, 0.1);
}
.block-x{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.block{
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
  max-width: 100%;
}
.block .text{
  max-width: 896px;
  padding: 114px;
  float: left;
}
.p{margin-top: 20px;}
.block .p-img{
  float: left;
  transform: rotate(-90deg);
  margin-left: 25px;
}
.block-line{
  border: 1px solid #FBD784;
  width: 72px;
  float: left;
  margin-top: 8px;
  margin-right: 10px;
}
.block-getstarted{
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 6px;
  color: #FBD784;
}
.block-title{
  font-family: 'Chronicle Display', sans-serif;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  color: white;
}
.block-readmore{
  font-size: 18px;
  line-height: 22px;
  color: #FBD784;
}
.block-text-of-text{
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
}
footer #p1{
  margin-top: 20px;
  width: 303px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: white;
}
footer #p2{
  margin-left: 10px;
  margin-top: 100px;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.5);
}
footer #uls{
  position: relative;
  left: 40em;
  width: 30%;
  float: right;
  display: flex;
  flex-direction: row-reverse;
}
footer #uls ul{
  list-style: none;
}
footer #uls ul:last-child{margin-right: 100px;}
footer #uls ul li:not(:first-child){
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: white;
  margin-bottom: 10px;
}
footer #uls ul li:first-child{
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FBD784;
}
footer #ps{
  position: relative;
  right: 35em;
  display: inline-block;
}
footer{
  height: 400px;
}
@media screen and (max-width: 1300px){
  header #center-title #beprepared span{
    font-size: 50px;
  }
}
@media screen and (max-width: 1470px){
  #header1{
    margin: 0 85px;
  }
}
@media screen and (max-width: 720px){
  header #center-title #beprepared span{
    font-size: 30px;
  }
  header #center-title #akiningguide span{
    font-size: 5px;
    line-height: 5px;
  }
}
@media screen and (max-width: 500px){
  #header1{
    margin: 0;
  }
}
@media screen and (max-width: 300px){
  #menu-ul p{
    float: left;
    padding: 0 10px;
    font-size: 10px;
  }
}
@media screen and (max-width: 500px){
  header #follow-us{margin-left: 30px;}
}
@media screen and (max-width: 1300px){
  .block{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1300px){
  .block{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1110px){
  .block .text #main-text{
    width: 800px;
  }
}
@media screen and (max-width: 1020px){
  .block .text #main-text{
    width: 400px;
  }
}
@media screen and (max-width: 580px){
  .trans-num{
    position: absolute;
    font-family: 'Gilroy-Regular';
    font-weight: 700;
    font-size: 180px;
    color: rgba(255, 255, 255, 0.1);
  }
  .block .text{
    padding: 50px;
  }
  .block .text #main-text .block-getstarted{
    font-size: 9px;
    line-height: 11px;
  }
  .block .text #main-text .block-title{
    font-size: 32px;
    line-height: 36px;
  }
  .block .text #main-text .block-text-of-text{
    font-size: 16px;
    line-height: 30px;
  }
  #body-of-body{
    margin-left: 0;
    margin-right: 0;
  }
  .block .bl-img img{
    width: 283px;
  }
}
@media screen and (max-width: 430px){
  .block .text #main-text{
    width: 200px;
  }
}
@media screen and (max-width: 666px){
  #uls{
    float: left;
    margin-right: 0px;
  }
  #ps{
    display: block;
  }
}
@media screen and (max-width: 1300px){
  #zerotwo{
    left: 0;
  }
}
@media screen and (max-width: 500px) {
  footer #uls{
    flex-direction: column;
  }
}

@keyframes ct-anim{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes bl-anim1{
  from{
    opacity: 0;
    left: 20em;
  }
  to{
    opacity: 1;
    left: 0;
  }
}
@keyframes bl-anim2{
  from{
    opacity: 0;
    right: 20em;
  }
  to{
    opacity: 1;
    right: 0;
  }
}
@keyframes bl-anim3{
  from{
    opacity: 0;
    left: 20em;
  }
  to{
    opacity: 1;
    left: 0;
  }
}
@keyframes ahikingguide-anim{
  from{
    right: 85em;
  }
  to{
    right: 0;
  }
}
@keyframes ahikingguide-line-anim{
  from{
    width: 700px;
  }
  to{
    width: 60px;
  }
}
@keyframes scrolldown-anim{
  from{
    left: 91em;
  }
  to{
    left: 0;
  }
}
@keyframes footer-anim{
  from{
    top: 30em;
  }
  to{
    top: 0;
  }
}
@keyframes footer-uls-anim{
  from{
    left: 40em;
  }
  to{
    left: 0;
  }
}
@keyframes footer-ps-anim{
  from{
    right: 35em;
  }
  to{
    right: 0;
  }
}
.bl-img{position: relative;}
#bl-img1.in-view{animation: bl-anim1 2s 1;}
#bl-img2.in-view{animation: bl-anim2 2s 1;}
#bl-img3.in-view{animation: bl-anim3 2s 1;}
footer #uls.in-view{
  animation: footer-uls-anim 2s forwards;
}
footer #ps.in-view{
  animation: footer-ps-anim 2s forwards;
}
